@model SSCASPEL.Models.ClieMovsInve
@{
    Layout = null;
    string ultimodoc = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ultimas Ventas - @Html.DisplayFor(model => model.cliente.Nombre)</title>
</head>
<body>
    <p><img src="@Url.Content(Model.imagepath)" alt="" width="100" height="75" /></p>
    <h2>@Html.DisplayFor(model => model.Param.Empresa)</h2>
    <h3>RFC: @Html.DisplayFor(model => model.Param.Rfc)</h3>
    <h3>Direccion: @Html.DisplayFor(model => model.Param.Direccion)</h3>
    <h3>Telefono: @Html.DisplayFor(model => model.Param.Telefono)</h3>
    <hr />
    <h2>Ultimas ventas al cliente: </h2>
    <table style="width: 497px; height: 90px;">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 180px; height: 18px;">Codigo Cliente:</td>
                <td style="width: 301px; height: 18px;">@Html.DisplayFor(model => model.cliente.Idsae)</td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 180px; height: 18px;">Nombre:</td>
                <td style="width: 301px; height: 18px;">@Html.DisplayFor(model => model.cliente.Nombre)</td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 180px; height: 18px;">RFC:</td>
                <td style="width: 350px; height: 18px;">@Html.DisplayFor(model => model.cliente.Rfc)</td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 180px; height: 18px;">Desde:</td>
                <td style="width: 301px; height: 18px;">@Html.DisplayFor(model => model.fechai)</td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 180px; height: 18px;">Hasta:</td>
                <td style="width: 350px; height: 18px;">@Html.DisplayFor(model => model.fechac)</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table style="height: 90px; border-collapse: collapse;" border="1">
        <tbody>
            <tr style="height: 18px;">
                <th style="width: 100px; height: 18px;">Documento</th>
                <th style="width: 60px; height: 18px;">Almacen</th>
                <th style="width: 100px; height: 18px;">Fecha de venta</th>
                <th style="width: 100px; height: 18px;">Codigo</th>
                <th style="width: 250px; height: 18px;">Producto</th>
                <th style="width: 100px; height: 18px;">Cantidad</th>
                <th style="width: 80px; height: 18px;">Precio</th>
                <th style="width: 100px; height: 18px;">Venta</th>
            </tr>
        </tbody>
        <tbody>
            @foreach (var item in Model.detalle)
            {
                if (Model.detalle.First() != item && ultimodoc != item.cve_doc)
                {
            <tr>
                <td height="8px" colspan="8" style="background-color: white"></td>
            </tr>
                }
                <tr style="height: 18px;">
                    <td style="width: 100px; height: 18px; text-align: center;">@Html.DisplayFor(modelItem => item.cve_doc)</td>
                    <td style="width: 60px; height: 18px; text-align: center;">@Html.DisplayFor(modelItem => item.num_alm)</td>
                    <td style="width: 100px; height: 18px; text-align: center;">@Html.DisplayFor(modelItem => item.fecha_doc)</td>
                    <td style="width: 100px; height: 18px; text-align: center;">@Html.DisplayFor(modelItem => item.cve_art)</td>
                    <td style="width: 250px; height: 18px; text-align: justify;">@Html.DisplayFor(modelItem => item.descr)</td>
                    <td style="width: 100px; height: 18px; text-align: center;">@Html.DisplayFor(modelItem => item.cant)</td>
                    <td style="width: 80px; height: 18px; text-align: right; ">@Html.DisplayFor(modelItem => item.precio)</td>
                    <td style="width: 100px; height: 18px; text-align: right; ">@Html.DisplayFor(modelItem => item.venta)</td>
                </tr>
                ultimodoc = item.cve_doc;
            }
        </tbody>
        <tfoot>
            <tr style="height: 18px;">
                <td style="visibility: hidden; height: 18px; width: 100px;">&nbsp;</td>
                <td style="visibility: hidden; height: 18px; width: 60px;">&nbsp;</td>
                <td style="visibility: hidden; height: 18px; width: 100px;">&nbsp;</td>
                <td style="visibility: hidden; height: 18px; width: 100px;">&nbsp;</td>
                <td style="visibility: hidden; height: 18px; width: 100px;">&nbsp;</td>
                <td style="height: 18px; width: 100px; text-align: center;">&nbsp;</td>
                <td style="height: 18px; width: 100px; text-align: right;">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>