@model IEnumerable<SSCASPEL.Models.UMed>

@{
    ViewData["Title"] = "Unidades";
    Layout = "~/Views/Home/Shared/_IndexLayout.cshtml";
}

<h1>Unidades de empaque</h1>

<p>
    <a asp-action="NuevaMedida">Crear otra unidad de empaque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
